body {
    background:hsl(20, 4%, 86%);
}
    
p {
    border-width: 10px 5px; 
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

div {
    color: green
}

div p {
    color: blueviolet;
}

ul li {
    color: azure;
}

p.center {
    text-align: center;
    color: green;
}
