
body {
    background-color: grey;
}

p {
    color: blue;
}

div {
    color: red
}

div p {
    color: yellow;
}

ul li {
    color: azure;
}

p.center {
    text-align: center;
    color: red;
}

.c1 {
    color: red;
}
