html {
    font-family: 'Sora', sans-serif;
}
body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: rgb(23, 35, 58);
    color: aliceblue;
    text-shadow: 0 0 0.4rem rgb(174, 240, 254) ;
    padding: 3rem 2rem;
}

header h1 {
    text-align: center;
    font-size: 4rem;
}

.container {
    width: 400px;
    margin: auto;
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section article:hover {
    box-shadow: 0 0.1rem 0.5rem black;
    cursor: pointer;
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color:  rgb(23, 35, 58);
    padding: 2rem;
    color: #ffffff;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: rgb(251, 131, 255);
}

